/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
    background-color: #503036;
}

div#indicator {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div#bigContainer {
    max-width: 500px;
    margin: 0 auto;
    /* background-color: #DCD5D5; */
    /* position: relative; */
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.flex-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}

html {
    width: 100%;
    height: 100%;
}

div#indicatorRight {
    width: 50%;
    /* float: right; */
    /* background-color: yellow; */
}

div#indicatorLeft {
    width: 50%;
    /* background-color: red; */
    /* float: left; */
}

div#theClock {
    height: 150px;
    width: 100px;
    margin: 0 auto;
    background-color: pink;
}

span.indicatorFont {
    font-size: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

span.indicatorTitle {
    font-size: 18px;
}


.centerThisThing {
    width: 160px;
    margin: 0 auto;
}


div#theClock {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #503036;
    clear: both;
    /* position: absolute; */
    top: 140px;
    left: 100px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
}

div#sessionOrBreak {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 100px;
}


div#countDown {
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 110px;
}


span.minusAndPlus {
    cursor: pointer;
}

#indicator div {
    text-align: center;
}
