/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*My own CSS
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #607D8B;
}

body {
    background-color: #009688;
}

#machine {
    width: 100%;
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 27px;
    -webkit-box-shadow: 4px 3px 58px 12px rgba(148,102,148,1);
    -moz-box-shadow: 4px 3px 58px 12px rgba(148,102,148,1);
    box-shadow: 4px 3px 58px -1px rgb(29, 10, 29);
}

h1 {
  text-align: center;
}

.quoteFrom {
  text-align: right;
}

.byMe {
  margin-bottom: -60px;
  text-align: center;
}

.quoteRow {
    padding: 30px 20px;
}

#toReplace {
    line-height: 47px;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}


/*To center this app*/

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

button {
  display: inline-block;
  padding: 15px 3px 15px 3px;
  font-size: 15px;
  cursor: pointer;
}

button.btn.btn-primary.tweet {
  float: left;
}

button.newQuote.btn.btn-primary.generate {
  float: right;
  display: inline-block;
}

button {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 11px;
  border: 0;
  background-color: rgba(232, 229, 229, 0.43);
  color: #440B1F;
  font-weight: 600;
  text-transform: uppercase;
}


/*
  ========================================
  Clearfix
  ========================================
*/

.clearFix:before,
.clearFix:after {
  content: "";
  display: table;
}

.clearFix:after {
  clear: both;
}

.clearFix {
  clear: both;
  *zoom: 1;
}

.tweet {
  background-color: #496B84;
  color: white;
}

i.fa.fa-twitter {
  margin-right: 5px;
}

button {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 11px;
  border: 0;
  background-color: rgb(73, 107, 132);
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  background-color: #324350;
}

h3#toReplace {
    text-align: left;
    display: inline;
    padding-left: 10px;
}

i.fa.fa-quote-left {
    font-size: x-large;
}



/*theme supports*/

.theme-0 body {
    background-color: #009688;
}
.theme-0 blockquote{
  color:#009688;
  animation-name: fadeIn;
  opacity: 1;
}
.theme-0 button {
  background-color: #009688;
}


.theme-1 body {
    background-color: #9c27b0;
}
.theme-1 blockquote{
  color:#9c27b0;
  opacity: 1;
}
.theme-1 button {
  background-color: #9c27b0;
}


.theme-2 body {
    background-color: #ff9800;
}
.theme-2 blockquote{
  color:#ff9800;
  opacity: 1;
}
.theme-2 button {
  background-color: #ff9800;
}


.theme-3 body {
    background-color: #cddc39;
}
.theme-3 blockquote{
  color: #cddc39;
  opacity: 1;
}
.theme-3 button {
  background-color: #cddc39;
}


.theme-4 body {
    background-color: #03a9f4;
}
.theme-4 blockquote{
  color:#03a9f4;
  opacity: 1;
}
.theme-4 button {
  background-color: #03a9f4;
}


.theme-5 body {
    background-color: #795548;
}
.theme-5 blockquote{
  color:#795548;
  opacity: 1;
}
.theme-5 button {
  background-color: #795548;
}


/*animation is trigger everytime a CSS property is changed*/
body {
    transition: background-color 2s;
    animation: fadeIn 1s 0s;
}

blockquote {
    transition: color 1s, opacity .5s;
    animation: fadeIn 1s 0s;
    opacity: 1;
}

#machine .quoteRow .no-opa {
  opacity: 0;
}

button {
    transition: background-color 1s;
    animation: fadeIn 1s 0s;
    /* font-family: 'Droid Serif', serif; */
    font-family: 'Raleway', sans-serif;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 600px) {
  .inner {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100%;
  }

.middle {
    display: block;
    height: 100%;
}

.outer {
    display: block;
    height: 100%;
    width: 100%;
}

.outer {
    display: block;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

#machine {
    height: 100%;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 100px;
    border-radius: 0;
}

button {
    min-width: 50px;
}

#toReplace {
    line-height: 47px;
    font-size: 18px;
    letter-spacing: 1px;
}

.quoteRow {
    padding: 30px 0;
}


}
